---
- name: Disable canonical motd stuff
  lineinfile:
    dest: /etc/default/motd-news
    state: present
    regexp: "^ENABLED="
    line: "ENABLED=0"

- name: Clear /var/cache/motd-news file
  copy:
    content: ""
    dest: /var/cache/motd-news

- name: Disable (chmod -x) some files in /etc/update-motd.d
  file:
    path: "/etc/update-motd.d/{{ item }}"
    mode: "0644"
  loop:
    - 10-help-text
    - 50-motd-news
